{% extends "base.html" %}
{% block content %}


<div class="container">
    <h3>Top Rated Movie</h3>


{%if data%}
    <div class="row">
    {%for movie in data.results%}
    <div class="col-md-3 col-lg-3">
    <a href="/detail_movie/{{movie.id}}">
    <div class="card">
        <img class="card-img-top img-responsive rounded" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" style="height: 350px;">
    </div>
    <div class="card-body">
        <h5>{{movie.title}}</h5>
        </a>
        <p class="card-text">Release Date: {{movie.release_date}}</p>
        <p class="card-text">Vote Average: {{movie.vote_average}}</p>
    </div>
    </div>
    {%endfor%}
    <div>
        <ul class="pagination" id="page_navigation">
        <input type="hidden" name="total_results" value="{{data.total_results}}" id="total_results">
        <input type="hidden" name="page" value="{{data.page}}" id="page">
        <input type="hidden" name="total_pages" value="{{data.total_pages}}" id="total_pages">

        </ul>
        </div>
    </div>
{%endif%}
</div>

<script>
     $(document).ready(function(){
        var total_result = $('#total_results').val();
        var current_page = $('#page').val();
        var total_pages = $('#total_pages').val();

        
        $('#page_navigation').twbsPagination({
        totalPages: parseInt(total_pages),
        visiblePages: 5,
        startPage: parseInt(current_page),
        initiateStartPageClick:false,
        onPageClick: function (event, page) {
            go_to_page(page);
        }
            });
     });

     function go_to_page(page_num){
         window.location = 'top_rated?page='+page_num+'';
     }

</script>

{% endblock %}

